h1 {
  margin: 0;
  color: #000000;
}


input {
  background-color: #A8D2A5;
  border-radius: 4px;
  outline: none;
  border: 0;
  box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.2);
}

.Search {
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
}

.Search__input {
  width: 80%;
  height: 41px;
  max-width: 700px;
  font-size: 18px;
  padding: 6px 16px;

}

ul {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

p {
  margin: 0;
}

/*-------------- estyles btn create------------- */
.btn {
  border: 0;
  background: rgb(168,210,165);
  background: linear-gradient(90deg, rgba(168,210,165,1) 0%, rgba(172,212,225,1) 100%);
  height: 60px;
  border-radius: 30px;
  font-family: 'Monda', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center center;
  color: #3E3B3B;
  cursor: pointer;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.25);
} 

.btn:hover {
  transition: scale(2);
  background: #ACD4E1;
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.4);
}

.btn:active {
  background: #8EAAB2;
  color: #fff;
}

.btn-add {
  width: 60px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 30px;
}

/* ------------------Task Counter---------------------- */
.task-counter {
  width: 100%;
  margin-bottom: 70px;
  position: relative;
}

.task-counter h2 {
  text-align: center;
}

.task-counter span {
  position: absolute;
  top: 12px;
  right: 10vw;
}


/* --------------------mediaQ 428px------------------- */
@media (min-width: 428px) {
  .task-counter span {
    right: 20vw;
  }
}


/* --------------------mediaQ 1000px------------------- */
@media (min-width: 1000px) {
  .task-counter span {
    right: 35vw;
  }
}